@model Product
@{ 
    ViewData["Title"] = "Details";
}

<div>
    <h1 class="text-center">@Model.name</h1>
</div>
<div>
    <h4 class="text-center">@Model.description</h4>
</div>
<div>
    <h4 class="text-center">$@Model.price</h4>
</div>
<div>
    <h4 class="text-center">@Model.category</h4>
</div>
