@model List<Product>
@{
    ViewData["Title"] = "Products";
}

<div>
    <h1 class="text-center">Products</h1>
</div>
<br />
<br />
<br />
<div class="grid">
    @foreach (Product prod in Model)
    {
        <div>
        </div>
        <div>
            <a href="/product/details/@prod.id">@prod.name</a>
        </div>
        <div>
            <a href="/product/editform/@prod.id">Edit</a>
        </div>
        <div>
            <a href="/product/delete/@prod.id">Delete</a>
        </div>
        <div>
        </div>
    }
</div>

<div />
<br />
<br />
<a class="text-center" href="/product/addform">Add New Product</a>