@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Biggby Jr's Coffee!</h1>
</div>
<div/>
<div class=" text-center">
    <a href="product/Index">View All Products</a>
</div>
<div class=" text-center">
    <a href="product/AllLattes/">View Lattes</a>
</div>
<div class=" text-center">
    <a href="product/AllBagels">View Bagels</a>
</div>
